.home-wrapper {
  height: 100%;
  display: flex;
  background: #8080806b;
}
.home-wrapper a {
  width: 100%;
  text-decoration: none;
}

.home-wrapper .tile {
  height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-title {
  color: white;
  font-weight: bold;
}